body{
        background-color: rgb(68, 134, 247);
    }

.cabeçalho{
            text-align: right;
          }

.cadastros {
            text-align: right;
           }
.cadastrados{
                justify-content: end;
                display: flex;
            }
