table   {
            width: 100%;
            border-collapse: collapse;
            margin: 25px 0;
            font-size: 18px;
            text-align: center;
            font-family: "Protest Strike", sans-serif;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);

        }   
        th, td
        {
            padding: 12px 15px ;
            border: 1px solid black;
        }
        th
        {
            background-color: rgb(119, 181, 252);
                font-weight: bold;
        }
        tr:hover
        {
            background-color: rgb(177, 247, 186);
        }